.header_bottom {
  padding: 50px 0px;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
  color: #fff; }
  @media only screen and (min-width: 992px) {
    .header_bottom {
      padding-top: 190px;
      padding-bottom: 246px; } }
  .header_bottom h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .header_bottom h2 {
        font-size: 50px; } }
  .header_bottom span {
    letter-spacing: 1px; }
  .header_bottom p {
    padding-top: 66px;
    padding-bottom: 34px;
    line-height: 25px;
    letter-spacing: 1px; }

.header_bottom2 {
  background: url(../img/bg2.jpg) no-repeat top center;
  background-size: cover;
  padding-top: 153px;
  padding-bottom: 39px; }
  .header_bottom2 h2 {
    text-transform: none;
    font-size: 36px; }
  .header_bottom2 span {
    display: inline-block;
    padding-bottom: 65px;
    letter-spacing: 0px; }

.second-menu {
  border-bottom: 1px solid #E6E6E6; }
  .second-menu__box {
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .second-menu__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; } }
    .second-menu__box li a {
      display: inline-block;
      padding: 20px 0px;
      border-bottom: 3px solid #fff;
      font-size: 16px;
      font-weight: 500;
      color: #24242D;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      @media only screen and (min-width: 768px) {
        .second-menu__box li a {
          padding-bottom: 30px;
          padding-top: 37px;
          font-size: 13px; } }
      @media only screen and (min-width: 992px) {
        .second-menu__box li a {
          font-size: 16px; } }
      .second-menu__box li a:hover {
        border-bottom: 3px solid #DF7171;
        color: #DF7171; }

.video-box {
  background: url(../img/vid.jpg) no-repeat top center;
  height: 533px;
  position: relative; }
  .video-box__item {
    max-width: 328px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-align: center; }
    .video-box__item p {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding-top: 30px; }

.slider-wrap {
  max-width: 944px;
  margin: 0 auto; }

.our-wrap {
  padding-top: 107px;
  padding-bottom: 109px;
  background: url(../img/pink.png) no-repeat right center; }

.our-wrap__title {
  height: 55px;
  background: url(../img/ch.png) no-repeat top left;
  margin-bottom: 75px; }
  .our-wrap__title h2 {
    font-size: 30px;
    font-weight: 400;
    color: #24242d;
    padding-top: 21px;
    margin-left: 40px;
    position: relative;
    padding-bottom: 25px; }
    .our-wrap__title h2:after {
      position: absolute;
      content: "";
      width: 40px;
      height: 1px;
      background: #DF7171;
      left: 0;
      bottom: 0; }

#our-slider .item .item__box img {
  margin: 0 auto; }
#our-slider .nav-left {
  background: url(../img/left.png) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%); }
  @media only screen and (min-width: 1240px) {
    #our-slider .nav-left {
      left: -128px; } }
#our-slider .nav-right {
  background: url(../img/right.png) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); }
  @media only screen and (min-width: 1240px) {
    #our-slider .nav-right {
      right: -128px; } }

/*# sourceMappingURL=style-dd.css.map */
