

body, html{
	height:100%;
}
a{
	outline: none !important;
}
.wrapper {
	width: 100%;
	//height: 100%;
 	display: flex;
  	flex-direction: column;
}
.content {
  	flex: 1 0 auto;
}
.footer {
  	flex: 0 0 auto;
}
.vertical-align{
	vertical-align:middle;
}
body{
	font-family: 'Ubuntu', sans-serif;
	color:#000;
	font-size: 16px;
}

strong, b{
	font-weight: 700;
}

.content-part{ 
	a{
		text-decoration: none;
		:hover{
			text-decoration: underline;
		}
	}
	p{
		margin-bottom: 20px;
	}

}
.container{
	@media screen and (min-width: 1240px) {
		width: 1230px;
		
	}

}
.header-top{
	background: #24242d;
	padding: 38px 0px;
	border-bottom: 1px solid #df7171;
	.container{
		position: relative;
	}
	.logo-box{
		margin-top: 7px;
	}
	.main-menu{
		display: block;
		margin-top: 10px;
		white-space: nowrap;
		@media screen and (max-width: 1220px) {
			display: none;
		}
		@media screen and (min-width: 1220px) {
			margin-left: 34px;
		}
		li{
			display: inline-block;
			margin-right: 53px;
			position: relative;

			padding-bottom: 20px;
			margin-top: -20px;
			//margin-top: 20px;
			
			&:last-child{
				margin-right: 0px;
			}
			a{
				color: #fff;
				font-size: 16px;
			}
			&:hover{
				.sub-menu{
					display: block;
				}
			}
			.sub-menu{
				display: none;
				position: absolute;
				min-width: 250px;
				margin-top: 20px;
				left: 0px;
				//transform: translate(-20%, 0);
				
				border-bottom: 5px solid #df7171;
				background: #fff;
				z-index: 100;
				li{
					display: block;
					padding: 0px;
					margin: 0px;
					vertical-align: middle;
					
					border-bottom: 1px solid #e8e8e8;
					
					a{
						display: inline-block;
						padding: 10px 15px;
						width: 100%;
						color: #282828;
						font-size: 16px;
						&:after{
							content: "";
						}
						&:hover{
							background: #e5e5e5;
						}
					}
				}
			}
		}
		.has-child{
			
			a{
				display: inline-block;
				position: relative;	
				&:after{
					content: ">";
					position: absolute;
					display: block;
					width: 15px;
					height: 16px;
					color: #fff;
					font-size: 16px;
					font-family: "MyriadPro-Regular";
					top: 2px;
					right: -25px;


				}
			}
			
		}
		
	}
	.header-contact-box{
		margin-left: auto;
		text-align: right;
		@media screen and (max-width: 1220px) {
			display: none;
		}
		

		.header-phone{
			display: inline-block;
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			margin-right: 27px;
		}
	}

}

.video-bag{
	display: none;
}
.burg{
	position: absolute;
	right: 15px;
	top: 2px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	
	@media screen and (min-width: 1220px) {
		display: none;
	}
	
	i{
		font-weight: 300;	
	}
}
.mobile-main-menu{
	display: block;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin-top: 45px;
	ul{
		display: block;
		width: 100%;
		//margin-top: 10px;
		
	}
	li{
		display: block;
		padding: 5px 0px;
		
		text-align: center;
		//padding: 0px;
		a{
			padding: 10px 0px;
			display: inline-block;
			width: 100%;
			&:hover{
				background: #24242d;
				color: #fff;
			}
		}
		
		

	}
}