.header_bottom{
	padding: 50px 0px;
	width: 100%;
	background:url(../img/bg.jpg) no-repeat top center;
	background-size:cover;
	color:#fff;
	@media only screen and (min-width: 992px) {
		padding-top: 190px;
		padding-bottom: 246px;
	}
	h2{
		font-size: 35px;
		font-weight: 700;
		line-height: 41px;
		text-transform: uppercase;
		color: white;
		padding-bottom: 20px;
		@media only screen and (min-width: 768px) {
			font-size: 50px;
		}
	}
	span{
		letter-spacing: 1px;
	}
	p{
		padding-top: 66px;
		padding-bottom: 34px;
		line-height: 25px;
		letter-spacing: 1px;
	}
}
.header_bottom2{
	background:url(../img/bg2.jpg) no-repeat top center;
	background-size:cover;
	padding-top: 153px;
	padding-bottom: 22px;
	h2{
		text-transform: none;
		font-size: 36px;
	}
	span{
		display: inline-block;
		padding-bottom: 57px;
		letter-spacing: 0px;
	}
	.pagination{
		height: 33px;
	}
}
.second-menu{
	border-bottom: 1px solid #E6E6E6;
	&__box{
		text-align:center;
		@media only screen and (min-width: 768px) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		li{
			a{
				display: inline-block;
				padding: 20px 0px;
				border-bottom: 3px solid transparent;
				font-size: 16px;
				font-weight: 500;
				color: #24242D;
				-webkit-transition:0.5s;
				transition:0.5s;
				@media only screen and (min-width: 768px) {
					padding-bottom: 30px;
					padding-top: 37px;
					font-size: 13px;
				}
				@media only screen and (min-width: 992px) {
					font-size: 16px;
				}
				&:hover{
					border-bottom: 3px solid #DF7171;
					color:#DF7171;
				}
			}
		}
	}
}
.video-box{
	background:url(../img/vid.jpg)no-repeat top center;
	height: 533px;
	position: relative;
	&__item{
		max-width: 328px;
		position: absolute;
		left:50%;
		top:40%;
		transform:translateX(-50%);
		text-align: center;
		p{
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			padding-top: 30px;
		}
	}
}

.slider-wrap{
	max-width: 944px;
	margin: 0 auto;
}
.our-wrap{
	padding-top: 107px;
	padding-bottom: 109px;
	background:url(../img/pink.png) no-repeat right center;
}
.our-wrap__title{
	height: 55px;
	margin-bottom: 75px;
	h1{
		padding-top: 21px;
		margin-left: 40px;
		padding-bottom: 25px;
	}
	.common-title_digital span{
		top: -17px;
		left: -40px;
	}
}
#our-slider{
	.item{
		.item__box{
			img{
				margin: 0 auto;
			}
		}
	}
	.nav-left{
		background: url(../img/left.png) no-repeat;
		width: 40px;
		height: 40px;
		position:absolute;
		top:50%;
		left:0px;
		transform: translateY(-50%);
		@media only screen and (min-width: 1240px) {
			left:-128px;
		}
	}
	.nav-right{
		background: url(../img/right.png) no-repeat;
		width: 40px;
		height: 40px;
		position:absolute;
		top:50%;
		right:0px;
		transform: translateY(-50%);
		@media only screen and (min-width: 1240px) {
			right:-128px;
		}
	}
}
.project-more{
	padding-top: 144px;
	background:url(../img/pink2.png) no-repeat left top 64px;
	.common-slider{
		max-width: 585px;
	}
	&__box{
		h1{
			margin-bottom: 32px;
		}
		p{
			font-size: 16px;
			font-weight: 300;
			line-height: 21px;
			color: #191919;
			padding-bottom: 28px;
		}
		a{
			margin-top: 37px;
		}
		.common-slider__txt{
			font-size: 15px;
		}
		&_2{
			@media only screen and (min-width: 1240px) {
				padding-left: 45px;
			}
		}
	}
}
.logo404{
	width: 124px;
	margin: 0 auto;
	padding-top: 17px;
	@media only screen and (min-width: 768px) {
		padding-top: 49px;
	}
}
.error-box{
	text-align: center;
	padding-top: 14px;
	position: relative;
	z-index: 100;
	@media only screen and (min-width: 768px) {
		padding-top: 95px;
	}
	span{
		color: #24242d;
		font-size: 100px;
		font-weight: 400;
		@media only screen and (min-width: 768px) {
			font-size: 260px;
		}
	}
	p{
		font-size: 16px;
		font-weight: 600;
		color: #191919;
	}
	&__img{
		position: relative;
		z-index: 9999;
		margin-top: -100px;
		@media only screen and (min-width: 768px) {
			margin-top: -348px;
			padding-bottom: 33px;
		}
		img{
			margin: 0 auto;
		}
	}
}
.footer404{
	text-align: center;
	padding: 32px 7px;
	p{
		font-size: 14px;
		font-weight: 300;
		color: #848484;
	}
}
#mape{
	// width: 65%;
	width: 100%;
	height:390px;	
	@media only screen and (min-width: 992px) {
		width: 65%;
	}
}
.contact-box__wr{
	background:url(../img/pink3.png) no-repeat left 10px bottom;
	padding-bottom: 76px;
	h1{
		margin-bottom: 68px;
		margin-top: 52px;
	}
	.pagination__contact{
		padding-top: 35px;
		a{
			color: #24242d;
		}
		li{
			display: inline-block;
		}
	}
	.contact-box__item{
		&_1{	
			@media only screen and (min-width: 992px) {
				width: 65%;
				float: left;
			}
		}
		&_2{
			background-color: white;
			box-shadow: 0 20px 57px rgba(0, 0, 0, 0.1);
			padding-left: 18px;
			@media only screen and (min-width: 992px) {
				width: 35%;
				padding-top: 38px;
				padding-left: 31px;
				float: right;
			}
		}
		&_social{
			padding-top: 64px;
			.socials{
				padding: 10px 0px;
				padding-bottom: 33px;
				@media only screen and (min-width: 1240px) {
					padding-bottom: 51px;
				}
			}
		}
		h1{
			font-size: 24px !important;
			font-weight: 700 !important;
			margin: 0;
		}
		.cp1{
			color: #191919;
			font-size: 16px;
			font-weight: 500;
			padding-top: 40px;
		}
		.cp2{
			font-size: 14px;
			color: #191919;
			padding-bottom: 33px;
			b{
				color: #adadad;
				font-size: 14px;
				font-weight: 300;
			}
		}
		.cp3{
			a{
				color: #191919;
				font-size: 16px;
				font-weight: 400;
				padding-bottom: 52px;
			}
		}
	}
}
.videoframe{
	width: 100%;
	height: 250px;
	@media screen and (min-width: 992px) {
		height: 350px;
	}
}