body, html {
  height: 100%; }

a {
  outline: none !important; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.vertical-align {
  vertical-align: middle; }

body {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-size: 16px; }

strong, b {
  font-weight: 700; }

.content-part a {
  text-decoration: none; }
  .content-part a :hover {
    text-decoration: underline; }
.content-part p {
  margin-bottom: 20px; }

@media screen and (min-width: 1200px) {
  .container {
    width: 1230px; } }

.header-top {
  background: #24242d;
  padding: 30px 0px;
  border-bottom: 1px solid #df7171; }
  .header-top .header-top-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .header-top .header-top-content .main-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      @media screen and (min-width: 1200px) {
        .header-top .header-top-content .main-menu {
          margin-left: -40px; } }
      .header-top .header-top-content .main-menu li {
        display: block;
        margin-left: 57px;
        position: relative;
        padding-bottom: 20px;
        margin-top: 20px; }
        .header-top .header-top-content .main-menu li a {
          color: #fff;
          font-size: 16px; }
        .header-top .header-top-content .main-menu li:hover .sub-menu {
          display: flex; }
        .header-top .header-top-content .main-menu li .sub-menu {
          display: none;
          position: absolute;
          margin-top: 10px;
          left: 20%;
          transform: translate(-20%, 0);
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          border-bottom: 5px solid #df7171;
          background: #fff; }
          .header-top .header-top-content .main-menu li .sub-menu li {
            display: flex;
            padding: 0px;
            margin: 0px;
            height: 43px;
            align-items: center;
            border-bottom: 1px solid #e8e8e8; }
            .header-top .header-top-content .main-menu li .sub-menu li a {
              display: inline-block;
              padding: 0px 33px;
              color: #282828;
              font-size: 16px; }
              .header-top .header-top-content .main-menu li .sub-menu li a:after {
                content: ""; }
      .header-top .header-top-content .main-menu .has-child a {
        display: inline-block;
        position: relative; }
        .header-top .header-top-content .main-menu .has-child a:after {
          content: ">";
          position: absolute;
          display: block;
          width: 15px;
          height: 16px;
          color: #fff;
          top: 0px;
          right: -25px; }
    .header-top .header-top-content .contact-box .header-phone {
      display: inline-block;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      margin-right: 27px; }

.video-bag {
  display: none; }

/*# sourceMappingURL=style.css.map */
