.header_bottom {
  padding: 50px 0px;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat top center;
  background-size: cover;
  color: #fff; }
  @media only screen and (min-width: 992px) {
    .header_bottom {
      padding-top: 190px;
      padding-bottom: 246px; } }
  .header_bottom h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .header_bottom h2 {
        font-size: 50px; } }
  .header_bottom span {
    letter-spacing: 1px; }
  .header_bottom p {
    padding-top: 66px;
    padding-bottom: 34px;
    line-height: 25px;
    letter-spacing: 1px; }

.header_bottom2 {
  background: url(../img/bg2.jpg) no-repeat top center;
  background-size: cover;
  padding-top: 153px;
  padding-bottom: 22px; }
  .header_bottom2 h2 {
    text-transform: none;
    font-size: 36px; }
  .header_bottom2 span {
    display: inline-block;
    padding-bottom: 57px;
    letter-spacing: 0px; }
  .header_bottom2 .pagination {
    height: 33px; }

.second-menu {
  border-bottom: 1px solid #E6E6E6; }
  .second-menu__box {
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .second-menu__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; } }
    .second-menu__box li a {
      display: inline-block;
      padding: 20px 0px;
      border-bottom: 3px solid transparent;
      font-size: 16px;
      font-weight: 500;
      color: #24242D;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      @media only screen and (min-width: 768px) {
        .second-menu__box li a {
          padding-bottom: 30px;
          padding-top: 37px;
          font-size: 13px; } }
      @media only screen and (min-width: 992px) {
        .second-menu__box li a {
          font-size: 16px; } }
      .second-menu__box li a:hover {
        border-bottom: 3px solid #DF7171;
        color: #DF7171; }

.video-box {
  background: url(../img/vid.jpg) no-repeat top center;
  height: 533px;
  position: relative; }
  .video-box__item {
    max-width: 328px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-align: center; }
    .video-box__item p {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding-top: 30px; }

.slider-wrap {
  max-width: 944px;
  margin: 0 auto; }

.our-wrap {
  padding-top: 107px;
  padding-bottom: 109px;
  background: url(../img/pink.png) no-repeat right center; }

.our-wrap__title {
  height: 55px;
  margin-bottom: 75px; }
  .our-wrap__title h1 {
    padding-top: 21px;
    margin-left: 40px;
    padding-bottom: 25px; }
  .our-wrap__title .common-title_digital span {
    top: -17px;
    left: -40px; }

#our-slider .item .item__box img {
  margin: 0 auto; }
#our-slider .nav-left {
  background: url(../img/left.png) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%); }
  @media only screen and (min-width: 1240px) {
    #our-slider .nav-left {
      left: -128px; } }
#our-slider .nav-right {
  background: url(../img/right.png) no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%); }
  @media only screen and (min-width: 1240px) {
    #our-slider .nav-right {
      right: -128px; } }

.project-more {
  padding-top: 144px;
  background: url(../img/pink2.png) no-repeat left top 64px; }
  .project-more .common-slider {
    max-width: 585px; }
  .project-more__box h1 {
    margin-bottom: 32px; }
  .project-more__box p {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    color: #191919;
    padding-bottom: 28px; }
  .project-more__box a {
    margin-top: 37px; }
  .project-more__box .common-slider__txt {
    font-size: 15px; }
  @media only screen and (min-width: 1240px) {
    .project-more__box_2 {
      padding-left: 45px; } }

.logo404 {
  width: 124px;
  margin: 0 auto;
  padding-top: 17px; }
  @media only screen and (min-width: 768px) {
    .logo404 {
      padding-top: 49px; } }

.error-box {
  text-align: center;
  padding-top: 14px;
  position: relative;
  z-index: 100; }
  @media only screen and (min-width: 768px) {
    .error-box {
      padding-top: 95px; } }
  .error-box span {
    color: #24242d;
    font-size: 100px;
    font-weight: 400; }
    @media only screen and (min-width: 768px) {
      .error-box span {
        font-size: 260px; } }
  .error-box p {
    font-size: 16px;
    font-weight: 600;
    color: #191919; }
  .error-box__img {
    position: relative;
    z-index: 9999;
    margin-top: -100px; }
    @media only screen and (min-width: 768px) {
      .error-box__img {
        margin-top: -348px;
        padding-bottom: 33px; } }
    .error-box__img img {
      margin: 0 auto; }

.footer404 {
  text-align: center;
  padding: 32px 7px; }
  .footer404 p {
    font-size: 14px;
    font-weight: 300;
    color: #848484; }

#mape {
  width: 100%;
  height: 390px; }
  @media only screen and (min-width: 992px) {
    #mape {
      width: 65%; } }

.contact-box__wr {
  background: url(../img/pink3.png) no-repeat left 10px bottom;
  padding-bottom: 76px; }
  .contact-box__wr h1 {
    margin-bottom: 68px;
    margin-top: 52px; }
  .contact-box__wr .pagination__contact {
    padding-top: 35px; }
    .contact-box__wr .pagination__contact a {
      color: #24242d; }
    .contact-box__wr .pagination__contact li {
      display: inline-block; }
  @media only screen and (min-width: 992px) {
    .contact-box__wr .contact-box__item_1 {
      width: 65%;
      float: left; } }
  .contact-box__wr .contact-box__item_2 {
    background-color: white;
    box-shadow: 0 20px 57px rgba(0, 0, 0, 0.1);
    padding-left: 18px; }
    @media only screen and (min-width: 992px) {
      .contact-box__wr .contact-box__item_2 {
        width: 35%;
        padding-top: 38px;
        padding-left: 31px;
        float: right; } }
  .contact-box__wr .contact-box__item_social {
    padding-top: 64px; }
    .contact-box__wr .contact-box__item_social .socials {
      padding: 10px 0px;
      padding-bottom: 33px; }
      @media only screen and (min-width: 1240px) {
        .contact-box__wr .contact-box__item_social .socials {
          padding-bottom: 51px; } }
  .contact-box__wr .contact-box__item h1 {
    font-size: 24px !important;
    font-weight: 700 !important;
    margin: 0; }
  .contact-box__wr .contact-box__item .cp1 {
    color: #191919;
    font-size: 16px;
    font-weight: 500;
    padding-top: 40px; }
  .contact-box__wr .contact-box__item .cp2 {
    font-size: 14px;
    color: #191919;
    padding-bottom: 33px; }
    .contact-box__wr .contact-box__item .cp2 b {
      color: #adadad;
      font-size: 14px;
      font-weight: 300; }
  .contact-box__wr .contact-box__item .cp3 a {
    color: #191919;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 52px; }

.videoframe {
  width: 100%;
  height: 250px; }
  @media screen and (min-width: 992px) {
    .videoframe {
      height: 315px; } }

.cadr-box {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 990; }
  .cadr-box:hover {
    box-shadow: 0 15px 35px rgba(34, 17, 54, 0.13);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .cadr-box:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 9999; }
  .cadr-box__img img {
    width: 100%; }
  .cadr-box__txt {
    background: #F8F8F8;
    padding-top: 22px;
    padding-bottom: 24px;
    padding-left: 24px; }
    .cadr-box__txt span {
      color: #C0C0C0;
      font-size: 14px;
      font-weight: 500; }
    .cadr-box__txt p {
      color: #282828;
      font-size: 18px;
      font-weight: 500;
      padding: 9px 0px;
      padding-bottom: 15px; }
    .cadr-box__txt .vision {
      color: #008aff;
      font-size: 14px;
      font-weight: 300; }

.cadr-tab {
  padding-top: 84px; }

/*# sourceMappingURL=style-dd.css.map */
