.footer{
	background: url("../img/footer.png")no-repeat bottom right;
	padding-top: 55px;
	padding-bottom: 18px;
	span{
		color: #24242d;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		display: inline-block;
		padding-bottom: 10px;
	}
	ul{
		li{
			a{
				color: #191919;
				font-size: 14px;
				font-weight: 300;
				line-height: 24px;
			}
		}
	}
	.contact{
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		color: #191919;
	}
	.icon{
		padding-top: 24px;
		
	}
	.copyright{
		font-size: 12px;
	}
	.footer-top{
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		padding: 45px 0;

	}
	.footer-bottom{
		padding-top: 18px;
	}
	.clear{
		clear:both;
		@media only screen and (min-width : 992px) {
			clear:unset;
		}
	}
}