.common-slider{
	max-width: 545px;
	width: 100%;
	margin: 0 auto;
}
.common-slider__img{	
	@media only screen and (min-width : 990px) {
		height: 338px;
	}
	img{
		max-width: 100%;
		height: 100%;
	}
}
.common-slider__txtbox{
	padding-top: 18px;
}
.common-slider__numberbox{
	width: 100%;
	display: inline-block;
	text-align: center;
	float: left;
	padding-top: 9px;
	@media only screen and (min-width : 770px) {
		width: 114px;
	}
	span,i{
		color: #191919;
		font-weight: 300;
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		line-height: 22px;
		display: inline-block;
	}	
}
.common-slider__numberbox {
	.number-active{
		color: #df7171;
		font-weight: 500;
	}
}
.common-slider__txt{	
	width: 100%;	
	display: inline-block;
	padding-top: 10px;
	color: #191919;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	@media only screen and (min-width : 770px) {
		float: right;
		padding-top: 0px;
		max-width: 335px;
		text-align: right;
	}
}

.common-slider{
	.prev-left, .next-right{
		position: absolute;
		bottom: -48px;
		left:0;
		width: 23px;
		height: 23px;
		border: 1px solid #1a1a1a;
		background-color: #fff;
		background-image: url("../../img/arrowslider.png");
		background-repeat: no-repeat;
		background-position: center center; 
		&:hover{
			border-color: #df7171;
			background-image: url("../../img/arrowslider2.png");
		}
	}
	.prev-left{
		-moz-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-o-transform:rotate(180deg);
		transform:rotate(180deg);
	}
	.next-right{		
		left:auto;
		right: 0;
		@media only screen and (min-width : 770px) {
			left:95px;
			right: auto;
		}
	}
}