.breadcrumbs{	
	li{
		display: inline-block;
		font-family: 'Ubuntu', sans-serif;
		font-size: 14px;
		font-weight: 300;
		line-height: 32px;
		display: inline-block;
		a{	
			display: inline-block;
			color: #fff;
		}
		span{
			display: inline-block;
			padding-bottom: 0;
			color: #b7b7b7;
		}
	}
}
.etotclassnetrogat{
	background-color: #212129;
}