textarea{
	width: 100%;
	min-height: 69px;
	resize:none;
	background-color: white;
	border: 1px solid #e6e6e6;
	outline: none;
	color: #191919;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px 15px;
}