.body{
	background:black;
}

// Общие стили
.button{
	display: inline-block;
	outline: none;
	text-align: center;
	-webkit-transition:0.5s;
	transition:0.5s;
	text-decoration: none;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;
}

// Заказать звонок
.call-back{
	padding: 0 24px;
	height: 40px;
	border: 2px solid #df7171;
	font-size: 12px;
	font-weight: 400;
	line-height: 40px;
	&:hover{
		background:#df7171;
	}
}

// Заказать панораму
.button_1{
	padding: 0 44px;
	height: 45px;
	background-color: #df7171;
	line-height: 45px;
	font-size: 14px;
	font-weight: 500;
}

// Заказать звонок специалиста
.button_2{
	height: 55px;
	background-color: #df7171;
	padding: 0 27px;
	font-size: 14px;
	font-weight: 500;
	line-height: 55px;
	@media only screen and (min-width: 480px) {
		font-size: 18px;
	}
}